<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinus.wallet" >

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TransactionListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransactionAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_transaction_add"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".CategoryListActivity"
            android:label="@string/title_activity_category_list"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".CategoryAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_category_add"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Summary"
            android:label="@string/title_activity_summary" >
        </activity>
        <activity
            android:name=".CategorySummary"
            android:label="@string/title_activity_category_summary" >
        </activity>

        <receiver
            android:name=".SmsListener"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
